
header{
  flex-direction:column;
  gap:1rem;
  text-align:center;
}

nav{
  flex-direction:column;
  gap:.6rem;
}

.projects-grid{
  grid-template-columns:1fr;
}


@media (min-width:768px){
  header{
    flex-direction:row;
  }

  nav{
    flex-direction:row;
    gap:2rem;
  }

  .projects-grid{
    grid-template-columns:repeat(2,1fr);
  }
}


@media (min-width:1024px){
  .projects-grid{
    grid-template-columns:repeat(3,1fr);
  }
}